<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>More info about Policies</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a th:href="@{/}" class="btn btn-primary"><i> Home</i></a> <a
					th:href="@{/customer/all}" class="btn btn-primary"><i> View
						Customers </i></a> <a th:href="@{/contract/all}" class="btn btn-primary"><i>
						View Contracts</i></a> <a th:href="@{/policy/all}" class="btn btn-primary"><i>
						View Policies</i></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div>
			<a th:href="@{/policy/moreInfo}" class="btn btn-primary"><i>
					More info about this</i></a> <a th:href="@{/policy/add}"
				class="btn btn-primary"><i class="fas fa-user-plus ml-2">
					Add Policy</i></a>
		</div>
	</div>
	<div th:switch="${allPolicyNumbers}" class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2 th:case="null">No Data yet!</h2>
				<div class="scrollable" th:case="*">
					<table class="table table-striped table-responsive-md">
						<tbody>
							<b><span th:text="${policyCount}"></span></b>
							<br />
							<br />
							<b>All the Policies available are:</b>
							<tr th:each="policy : ${allPolicyNumbers}">
								<td><a th:text="${policy}"
									th:href="@{/policy/number/{id}(id=${policy})}"></a></td>
						</tbody>
					</table>
					<table class="table table-striped table-responsive-md">
						<tbody>
							<b>Expired Policy Numbers are:</b>
							<tr th:each="expired : ${expiredPolicies}">
								<td><a th:text="${expired}"
									th:href="@{/policy/number/{id}(id=${expired})}"></a></td>
						</tbody>
					</table>
					<b>Expired Policy Details are:</b><b></b>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Policy Number</th>
								<th>Policy Issuing Company</th>
								<th>Policy Limit</th>
								<th>Occurence LimitType</th>
								<th>Policy Effective Date</th>
								<th>Policy Expiration Date</th>
								<th>Remark</th>
								<th>Mapped to Contract</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="policy : ${expiredPoliciesDetailed}">
								<td><a th:text="${policy.policyNumber}"
									th:href="@{/policy/number/{id}(id=${policy.policyNumber})}"></a></td>
								<td th:text="${policy.policyInsuranceCompany}"></td>
								<td th:text="${policy.policyLimit}"></td>
								<td th:text="${policy.OccurenceLimitType}"></td>
								<td th:text="${policy.effectiveDate}"></td>
								<td th:text="${policy.expirationDate}"></td>
								<td th:text="${policy.remark}"></td>
								<td><a th:text="${policy?.contract?.contractNumber}"
									th:href="@{/contract/number/{id}(id=${policy?.contract?.contractNumber})}"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>